{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_all_entry %}active{% endblock nav_all_entry %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <br>
    {% endif %}
  {% endwith %}
{% endblock flashes %}


{% block content%}
<br>
<div class="container-fluid" style="background-color: rgb(255, 255, 255)">
  <div class="row">
    <div class="col-md text-center">
      <h5>Options</h5>
      <a href="{{ url_for('main_page_module.all_entry_trashed') }}" class="btn btn-warning btn-sm" role="button">View Trash</a>
      <a href="{{ url_for('main_page_module.get_zipped_entries') }}" class="btn btn-dark btn-sm disabled" role="button">Download the archive</a>
      
      
    </div>
    <div class="col-md-6">

      <legend>All Notes</legend>
      <div id="all_entries" class="container">
        {% for i in notes%}
        <hr>
        <div class="media">
            <div class="btn-group btn-group-sm align-self-center mr-3" role="group" aria-label="...">
              <a href="{{ url_for('main_page_module.view_entry', note_id=i[0]) }}" class="btn btn-secondary" role="button">View Entry</a>
              <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#{{ 'for_modal' ~ i[0] }}">Trash</button>
            </div>
          <div class="media-body">
            <h4 class="mt-0">{{ i[1] }}</h4>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="{{ 'for_modal' ~ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="{{ i[0] ~ 'for_modaltext' }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="{{ i[0] ~ 'for_modaltext' }}">Trash the note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Do you really want to Trash the note "{{ i[1] }}" ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                <form method="POST" action="{{ url_for('main_page_module.trash_entry') }}" accept-charset="UTF-8" role="form">
                  <input type="hidden" id="id" name="id" value="{{ i[0] }}">
                  <button type="submit" class="btn btn-danger">Trash note</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

      <hr>

    </div>
    <div class="col-md">
      <!-- insert column here -->
    </div>
  </div>

</div>
{% endblock content %}