{% extends "main_page_module/base.html" %}


{% block extraheader %}
{% endblock %}

{% block nav_new_entry %}active{% endblock nav_new_entry %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}


{% block content%}
<div class="container-fluid" style="background-color: rgb(255, 255, 255)">
  <div class="row">
    <div class="col-md">
      <!-- insert column here -->
    </div>
    <div class="col-md-6">

      {% macro render_field(field, placeholder=None) %}
      <div class="form-group">
          {% set css_class = 'form-control ' + kwargs.pop('class', '') %}

          {{ field.label }}

          {% if field.errors %}
              {% set css_class = css_class + ' is-invalid' %}

              {% for error in field.errors %}
                  
                  <small id="{{ field.label.text }}" class="text-danger">
                      {{ error }}
                </small>

              {% endfor %}
              </ul>
          {% endif %}

          {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
      </div>
      {% endmacro %}


      <div>
        <div>
          <form method="POST" action="{{ url_for('main_page_module.change_entry') }}" accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}
            {{ form.id }}
            
            <br>
            <div class="form-group">
              <input type="text" class="form-control " id="title" name="title" placeholder="Title" value="{{ note[1] }}" required>
            </div>

            <div class="form-group">
                <textarea class="form-control " id="note_text" name="note_text" placeholder="Write what stuff" required rows="30">{{ note[2] }}</textarea>
            </div>
            <div class="form-group">
              {{ form.submit(class="form-control btn btn-primary mb-2", value="Submit eddits") }}
              </div>
          </form>
        </div>
      </div>

    </div>
    <div class="col-md">
      <!-- insert column here -->
    </div>
  </div>
  
  </div>
{% endblock %}