{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_index %}active{% endblock nav_index %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock flashes %}


{% block content%}
<br>
<div class="container-fluid" style="background-color: rgb(255, 255, 255)">
  <div class="row">
    <div class="col-md">
      <!-- insert column here -->
    </div>
    <div class="col-md-6">

      <h1>Piknik?!</h1>
      <hr>
      <div class="container">
        <form method="POST" action="{{ url_for('main_page_module.plan_create') }}" accept-charset="UTF-8" role="form">
        {{ form.csrf_token }}
          <div class="form-group">
              <script>
                  function updatePeople(slideAmount) {
                      var peopleAtPiknik = document.getElementById("stoseb");
                      peopleAtPiknik.innerHTML = slideAmount;

                      //doloci vegije
                      var vegiAtPiknik = document.getElementById("stveg");
                      vegiAtPiknik.innerHTML = "0";
                      var vegiSlider = document.getElementById("vegiSlider");
                      vegiSlider.setAttribute('min', '0');
                      vegiSlider.setAttribute('max', slideAmount);
                      vegiSlider.setAttribute('value', 0);
                  }
              </script>
            <label for="peoplenum">Število Odraslih</label> - <span class="badge badge-danger" id="stoseb">10</span>
            <input type="range" class="form-control-range" id="peoplenum" name="peoplenum" min="1" max="50" value="10" oninput="updatePeople(this.value)">
          </div>
          <div class="form-group">
              <script>
                  function updateVeg(slideAmount) {
                      var peopleAtPiknik = document.getElementById("stveg");
                      peopleAtPiknik.innerHTML = slideAmount;
                  }
              </script>
            <label for="vegiSlider">Od tega Vegetarjancev/Veganov</label> - <span class="badge badge-success" id="stveg">0</span>
            <input type="range" class="form-control-range" id="vegiSlider" name="vegiSlider" min="0" max="10" value="0" oninput="updateVeg(this.value)">
          </div>
          <hr>
          
          <div class="form-group">
              <script>
                  function updateChild(slideAmount) {
                      var stchild = document.getElementById("stchild");
                      stchild.innerHTML = slideAmount;

                      //doloci vegije
                      var stvegchild = document.getElementById("stvegchild");
                      stvegchild.innerHTML = "0";
                      var vegiChild = document.getElementById("vegiChild");
                      vegiChild.setAttribute('min', '0');
                      vegiChild.setAttribute('max', slideAmount);
                      vegiChild.setAttribute('value', 0);
                  }
              </script>
            <label for="childnum">Število Otrok</label> - <span class="badge badge-primary" id="stchild">0</span>
            <input type="range" class="form-control-range" id="childnum" name="childnum" min="0" max="30" value="0" oninput="updateChild(this.value)">
          </div>
          <div class="form-group">
              <script>
                  function updateVegChild(slideAmount) {
                      var stvegchild = document.getElementById("stvegchild");
                      stvegchild.innerHTML = slideAmount;
                  }
              </script>
            <label for="vegiChild">Od tega Vegetarjancev/Veganov</label> - <span class="badge badge-success" id="stvegchild">0</span>
            <input type="range" class="form-control-range" id="vegiChild" name="vegiChild" min="0" max="30" value="0" oninput="updateVegChild(this.value)">
          </div>
          <hr>
          
          <div class="card text-white bg-danger mb-3">
            <div class="card-header">
              Meso
            </div>
            <div class="card-body  text-dark bg-light">
                <script>
                    function updatecevap(slideAmount) {
                        var cevapbag = document.getElementById("cevapbag");

                        if (slideAmount == 0) {
                          stanje = "Nič";
                        } else if (slideAmount < 10) {
                          stanje = "Malo";
                        }  else if (slideAmount < 25) {
                          stanje = "Nekaj";
                        } else if (slideAmount < 40) {
                          stanje = "Zmerno";
                        } else {
                          stanje = "Veliko";
                        }

                        cevapbag.innerHTML = stanje;
                    }

                    function updateplesk(slideAmount) {
                        var pleskbag = document.getElementById("pleskbag");

                        if (slideAmount == 0) {
                          stanje = "Nič";
                        } else if (slideAmount < 10) {
                          stanje = "Malo";
                        }  else if (slideAmount < 25) {
                          stanje = "Nekaj";
                        } else if (slideAmount < 40) {
                          stanje = "Zmerno";
                        } else {
                          stanje = "Veliko";
                        }

                        pleskbag.innerHTML = stanje;
                    }

                    function updatevrat(slideAmount) {
                        var vratbag = document.getElementById("vratbag");

                        if (slideAmount == 0) {
                          stanje = "Nič";
                        } else if (slideAmount < 10) {
                          stanje = "Malo";
                        }  else if (slideAmount < 25) {
                          stanje = "Nekaj";
                        } else if (slideAmount < 40) {
                          stanje = "Zmerno";
                        } else {
                          stanje = "Veliko";
                        }

                        vratbag.innerHTML = stanje;
                    }

                    function updateperut(slideAmount) {
                        var perutbag = document.getElementById("perutbag");

                        if (slideAmount == 0) {
                          stanje = "Nič";
                        } else if (slideAmount < 10) {
                          stanje = "Malo";
                        }  else if (slideAmount < 25) {
                          stanje = "Nekaj";
                        } else if (slideAmount < 40) {
                          stanje = "Zmerno";
                        } else {
                          stanje = "Veliko";
                        }

                        perutbag.innerHTML = stanje;
                    }
                </script>
              <div class="form-group">
                <label for="cevap">Čevapčiči</label> - <span class="badge badge-pill badge-danger" id="cevapbag">Veliko</span>
                <input type="range" class="form-control-range" id="cevap" name="cevap" min="0" max="50" value="50" oninput="updatecevap(this.value)">
              </div>
              <div class="form-group">
                <label for="plesk">Pleskavice</label> - <span class="badge badge-pill badge-danger" id="pleskbag">Malo</span>
                <input type="range" class="form-control-range" id="plesk" name="plesk" min="0" max="50" value="10" oninput="updateplesk(this.value)">
              </div>
              <div class="form-group">
                <label for="vratovina">Vratovina</label> - <span class="badge badge-pill badge-danger" id="vratbag">Nekaj</span>
                <input type="range" class="form-control-range" id="vratovina" name="vratovina" min="0" max="50" value="20" oninput="updatevrat(this.value)">
              </div>
              <div class="form-group">
                <label for="perutinicke">Perutničke</label> - <span class="badge badge-pill badge-warning" id="perutbag">Veliko</span>
                <input type="range" class="form-control-range" id="perutinicke" name="perutinicke" min="0" max="50" value="50" oninput="updateperut(this.value)">
              </div>
            </div>
          </div>
          <div class="card  text-white bg-success mb-3">
              <div class="card-header">
                Zelenjava
              </div>

              <script>
                  function updatebucke(slideAmount) {
                      var bucbag = document.getElementById("bucbag");

                      if (slideAmount == 0) {
                        stanje = "Nič";
                      } else if (slideAmount < 10) {
                        stanje = "Malo";
                      }  else if (slideAmount < 25) {
                        stanje = "Nekaj";
                      } else if (slideAmount < 40) {
                        stanje = "Zmerno";
                      } else {
                        stanje = "Veliko";
                      }

                      bucbag.innerHTML = stanje;
                  }

                  function updategobe(slideAmount) {
                      var gobbag = document.getElementById("gobbag");

                      if (slideAmount == 0) {
                        stanje = "Nič";
                      } else if (slideAmount < 10) {
                        stanje = "Malo";
                      }  else if (slideAmount < 25) {
                        stanje = "Nekaj";
                      } else if (slideAmount < 40) {
                        stanje = "Zmerno";
                      } else {
                        stanje = "Veliko";
                      }

                      gobbag.innerHTML = stanje;
                  }

                  function updatepaprik(slideAmount) {
                      var paprikbag = document.getElementById("paprikbag");

                      if (slideAmount == 0) {
                        stanje = "Nič";
                      } else if (slideAmount < 10) {
                        stanje = "Malo";
                      }  else if (slideAmount < 25) {
                        stanje = "Nekaj";
                      } else if (slideAmount < 40) {
                        stanje = "Zmerno";
                      } else {
                        stanje = "Veliko";
                      }

                      paprikbag.innerHTML = stanje;
                  }

                  function updatepmelan(slideAmount) {
                      var melanbag = document.getElementById("melanbag");

                      if (slideAmount == 0) {
                        stanje = "Nič";
                      } else if (slideAmount < 10) {
                        stanje = "Malo";
                      }  else if (slideAmount < 25) {
                        stanje = "Nekaj";
                      } else if (slideAmount < 40) {
                        stanje = "Zmerno";
                      } else {
                        stanje = "Veliko";
                      }

                      melanbag.innerHTML = stanje;
                  }
              </script>

              <div class="card-body text-dark bg-light">
                <div class="form-group">
                  <label for="bucke">Bučke</label> - <span class="badge badge-pill badge-success" id="bucbag">Dosti</span>
                  <input type="range" class="form-control-range" id="bucke" name="bucke" min="0" max="50" value="50" oninput="updatebucke(this.value)">
                </div>
                <div class="form-group">
                  <label for="gobce">Gobice</label> - <span class="badge badge-pill badge-success" id="gobbag">Malo</span>
                  <input type="range" class="form-control-range" id="gobce" name="gobce" min="0" max="50" value="9" oninput="updategobe(this.value)">
                </div>
                <div class="form-group">
                  <label for="paprikas">Paprika</label> - <span class="badge badge-pill badge-danger" id="paprikbag">Nekaj</span>
                  <input type="range" class="form-control-range" id="paprikas" name="paprikas" min="0" max="50" value="20" oninput="updatepaprik(this.value)">
                </div>
                <div class="form-group">
                  <label for="melancanno">Melancani</label> - <span class="badge badge-pill badge-primary" id="melanbag">Nič</span>
                  <input type="range" class="form-control-range" id="melancanno" name="melancanno" min="0" max="50" value="0" oninput="updatepmelan(this.value)">
                </div>
              </div>
            </div>

          <div class="card  text-white bg-warning mb-3">
            <div class="card-header">
              Pivo
            </div>

            <script>
                function updatepivo(slideAmount) {
                    var pivbag = document.getElementById("pivbag");

                    if (slideAmount == 0) {
                      stanje = "Nič";
                    } else if (slideAmount < 10) {
                      stanje = "Malo";
                    }  else if (slideAmount < 25) {
                      stanje = "Nekaj";
                    } else if (slideAmount < 40) {
                      stanje = "Zmerno";
                    } else {
                      stanje = "Veliko";
                    }

                    pivbag.innerHTML = stanje;
                }

            </script>

            <div class="card-body text-dark bg-light">
              <div class="form-group">
                <label for="pivicko">Pivo</label> - <span class="badge badge-pill badge-warning" id="pivbag">Veliko</span>
                <input type="range" class="form-control-range" id="pivicko" name="pivicko" min="0" max="50" value="50" oninput="updatepivo(this.value)">
              </div>
            </div>
          </div>
          <hr>
          
          <div class="card text-white bg-dark mb-3">
            <div class="card-header">
              Sokovi
            </div>

            <script>

                function updatesok(slideAmount) {
                    var sokbag = document.getElementById("sokbag");

                    if (slideAmount == 0) {
                      stanje = "Nič";
                    } else if (slideAmount < 10) {
                      stanje = "Malo";
                    }  else if (slideAmount < 25) {
                      stanje = "Nekaj";
                    } else if (slideAmount < 40) {
                      stanje = "Zmerno";
                    } else {
                      stanje = "Veliko";
                    }

                    sokbag.innerHTML = stanje;
                }
                
                function updatecola(slideAmount) {
                    var colabag = document.getElementById("colabag");

                    if (slideAmount == 0) {
                      stanje = "Nič";
                    } else if (slideAmount < 10) {
                      stanje = "Malo";
                    }  else if (slideAmount < 25) {
                      stanje = "Nekaj";
                    } else if (slideAmount < 40) {
                      stanje = "Zmerno";
                    } else {
                      stanje = "Veliko";
                    }

                    colabag.innerHTML = stanje;
                }

            </script>

            <div class="card-body text-dark bg-light">
            <div class="form-group">
                <label for="sokec">Cola</label> - <span class="badge badge-pill badge-dark" id="colabag">Nekaj</span>
                <input type="range" class="form-control-range" id="colica" name="colica" min="0" max="50" value="40" oninput="updatecola(this.value)">
              </div>
              <div class="form-group">
                <label for="sokec">Sokovi</label> - <span class="badge badge-pill badge-danger" id="sokbag">Nekaj</span>
                <input type="range" class="form-control-range" id="sokec" name="sokec" min="0" max="50" value="40" oninput="updatesok(this.value)">
              </div>
            </div>
          </div>
          <hr>
          
          <div class="card  text-white bg-info mb-3">
            <div class="card-header">
              Led
            </div>

            <script>

                function updateled(slideAmount) {
                    var ledbag = document.getElementById("ledbag");

                    if (slideAmount == 0) {
                      stanje = "Nič";
                    } else if (slideAmount < 10) {
                      stanje = "Malo";
                    }  else if (slideAmount < 25) {
                      stanje = "Nekaj";
                    } else if (slideAmount < 35) {
                      stanje = "Vsaka pijača ima led";
                    } else {
                      stanje = "Bolj led kot pijača";
                    }

                    ledbag.innerHTML = stanje;
                }
            </script>

            <div class="card-body text-dark bg-light">
              <div class="form-group">
                <label for="ledek">Led</label> - <span class="badge badge-pill badge-info" id="ledbag">Malo</span>
                <input type="range" class="form-control-range" id="ledek" name="ledek" min="0" max="50" value="9" oninput="updateled(this.value)">
              </div>
            </div>
          </div>
          <hr>
          
          <div class="form-group">
            <input type="submit" class="form-control-range btn btn-success" value="Izračunaj!" style="position: fixed; bottom: 4px; right: 0px; left: 0px;">
          </div>
          <br>  
        </form>
      </div>
      <script>
        
        function load_results(){
          var search_key = document.getElementById("search").value;

          var results=[];

          $.post('/search/', {"key": search_key}, function(data, textStatus) {
            //data contains the JSON object
            //textStatus contains the status: success, error, etc

            var searchResults = document.createElement("div");
            searchResults.setAttribute('class', 'container');
            var count = Object(data);
            console.log(count);

            if (0 < Object.keys(data).length) {

              for (const [key, value] of Object.entries(data)) {
                var newMedia = document.createElement("div")
                newMedia.setAttribute('class', 'media  bg-light');

                var newBodyLink = document.createElement("a")
                newBodyLink.setAttribute('class', 'btn btn-secondary align-self-center mr-3');
                newBodyLink.setAttribute('href', '/view_entry/' + value[0]);
                newBodyLink.textContent = "View the content";

                var newBody = document.createElement("div")
                newBody.setAttribute('class', 'media-body');

                var newBodyTitle = document.createElement("h5")
                newBodyTitle.setAttribute('class', 'mt-0');
                newBodyTitle.textContent = key;
                var newBodyText = document.createElement("p")
                newBodyText.innerHTML = value[1];

                var line = document.createElement("hr")
                
                newBody.appendChild(newBodyTitle);
                newBody.appendChild(newBodyText);
                
                newMedia.appendChild(newBodyLink);
                newMedia.appendChild(newBody);
                
                searchResults.appendChild(newMedia);
                searchResults.appendChild(line);
                
              }

            } else {
              var noResults = document.createElement("p")
              noResults.textContent = "We searched high and low, and we found nothing... its clearly because you were not specific enough.";
              searchResults.appendChild(noResults);
            }

            $("#results").empty();
            document.getElementById("results").appendChild(searchResults);
          }, "json");

        };

        document.getElementById("search").onkeyup = load_results;

      </script>

    </div>
  <div class="col">
    
      
  </div>
</div>

</div>
{% endblock content %}
