{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_search %}active{% endblock nav_search %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock flashes %}


{% block content%}
<br>
<div class="container-fluid" style="background-color: rgb(255, 255, 255)">
  <div class="row">
    <div class="col-md">
      <!-- insert column here -->
    </div>
    <div class="col-md-6">

      <h1>Hello, there!</h1>
      <input class="form-control mr-sm-2" id ="search" type="search" placeholder="Search" size="50" aria-label="Search" autofocus="">
      <hr>
      <div class="container">
        <div id="results">
          <p>Now search something!</p>
        </div>
      </div>
      <script>
        
        function load_results(){
          var search_key = document.getElementById("search").value;

          var results=[];

          $.post('/search/', {"key": search_key}, function(data, textStatus) {
            //data contains the JSON object
            //textStatus contains the status: success, error, etc

            var searchResults = document.createElement("div");
            searchResults.setAttribute('class', 'container');
            var count = Object(data);
            console.log(count);

            if (0 < Object.keys(data).length) {

              for (const [key, value] of Object.entries(data)) {
                var newMedia = document.createElement("div")
                newMedia.setAttribute('class', 'media');
                //newMedia.setAttribute('style', 'padding: 10px;');

                var line = document.createElement("hr")
                var line2 = document.createElement("hr")
                line2.setAttribute('style', 'width:50%;text-align:left;margin-left:0');

                var newBodyLink = document.createElement("a")
                newBodyLink.setAttribute('class', 'btn btn-secondary align-self-center mr-3');
                newBodyLink.setAttribute('href', '/view_entry/' + key);
                newBodyLink.textContent = "View the content";

                var newBody = document.createElement("div")
                newBody.setAttribute('class', 'media-body');

                var newBodyTitle = document.createElement("h5")
                newBodyTitle.setAttribute('class', 'mt-0');
                newBodyTitle.textContent = value[0];
                newBodyTitle.appendChild(line2);

                var newBodyText = document.createElement("p")
                newBodyText.innerHTML = value[1];

                newBody.appendChild(newBodyTitle);
                newBody.appendChild(newBodyText);
                
                newMedia.appendChild(newBodyLink);
                newMedia.appendChild(newBody);
                
                searchResults.appendChild(newMedia);
                searchResults.appendChild(line);
                
              }

            } else {
              var noResults = document.createElement("p")
              noResults.textContent = "We searched high and low, and we found nothing... its clearly because you were not specific enough.";
              searchResults.appendChild(noResults);
            }

            $("#results").empty();
            document.getElementById("results").appendChild(searchResults);
          }, "json");

        };

        document.getElementById("search").onkeyup = load_results;

      </script>

    </div>
  <div class="col-md">
    <h5>Options</h5>
      
  </div>
</div>

</div>
{% endblock content %}