{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_index %}active{% endblock nav_index %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <br>
    {% endif %}
  {% endwith %}
{% endblock flashes %}


{% block content%}
<br>
<div class="container-fluid" style="background-color: rgb(255, 255, 255)">
  <div class="row">
    <div class="col-md-3 text-center">
      <h5>Options</h5>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <a href="{{ url_for('main_page_module.edit_entry', note_id=note_id) }}" class="btn btn-secondary" role="button">Edit Entry</a>
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#TrashEntry">Trash</button>
      </div>
    </div>
    <div class="col-md-6">


      <legend>{{ entry_name }}
      
      </legend>

      <hr>
      {% filter markdown %}
      {{ entry_text }}
      {% endfilter %}

      <!-- Modal -->
      <div class="modal fade" id="TrashEntry" tabindex="-1" role="dialog" aria-labelledby="TrashentryTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TrashentryTitle">Trash the Note</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Do you really want to Trash the note "{{ entry_name }}" ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
              <form method="POST" action="{{ url_for('main_page_module.trash_entry') }}" accept-charset="UTF-8" role="form">
                <input type="hidden" id="id" name="id" value="{{ note_id }}">
                <button type="submit" class="btn btn-danger">Trash note</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md">
      <h5>Access</h5>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Default radio
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Second default radio
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                <label class="form-check-label" for="exampleRadios3">
                  Disabled radio
                </label>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>
{% endblock content %}